/* Positioning */
.ps-absolute {
    position: absolute;
}

.ps-relative {
    position: fixed;
}

.ps-fixed {
    position: fixed;
}

/* Text colors */
.text-pink {
    color: #eb9095;
}

/* Backgrounds */
.bg-pink {
    background-color: #eb9095;
}

.bg-grey {
    background-color: #F9F9F9;
}

.bg-white {
    background-color: #FFFFFF;
}

.women-in-dress-bg {
    background-image: url(../images/home_dress.png); 
    background-position: center 0;
    background-size: cover;
    min-height: 400px;
}

/* Buttons */
.btn-pink {
    color: #fff;
    background-color: #eb9095;
    border-color: #eb9095;
}

.btn-pink:hover {
    color: #eb9095;
    background-color: transparent;
    background-image: none;
    border-color: #eb9095;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #eb9095;
    border-color: #eb9095;
}

.btn-outline-pink {
    color: #eb9095;
    background-color: transparent;
    background-image: none;
    border-color: #eb9095;
}

.monospace-font {
    font-family: "Courier New", Courier, monospace;
}

/* Navigation */
.nav {
    font-size: 25px;
    color: #000;
}

.nav a {
    font-size: 25px;
    color: #000;
}

/* Footers and headers */
.footer {
    background-color: #eee;
    font-family: "Courier New", Courier, monospace;
}

.footer a {
    color: #000;
    font-family: "Courier New", Courier, monospace;
    text-decoration: underline;
}

/* Forms */

.input-border-pink {
    box-shadow: 0 0 5px #eb9095;
}