@font-face {
    font-family: 'Cabin';
    src: url('cabin/Cabin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', arial, sans-serif;
}

/* Positioning */

.ps-absolute {
    position: absolute;
}

.ps-relative {
    position: fixed;
}

.ps-fixed {
    position: fixed;
}

#manual-main{
    text-align: left;
    list-style-position: inside;
}
#loginSection {
    min-height: 45vh; /* minus the height of the footer */
}
#homeSection{
    min-height: 60vh;
}

/* Fonts */
.text-pink {
    color: #7C4889;
}

.text-white {
    color: #FFFFFF;
}

.text-blue {
    color: #007bff;
}

.monospace-font {
    font-family: Helvetica, sans-serif;
}

/* Backgrounds */
.bg-pink {
    background-color: #7C4889;
}

.bg-grey {
    background-color: #F9F9F9;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-blue {
    background-color: #007bff;
}

.women-in-dress-bg {
    background-image: url(../images/home_dress.jpeg); 
    background-position: center -250px;
    background-size: cover;
    min-height: 400px;
}

/* Borders */
.border-pink {
    box-shadow: 0 0 5px #7C4889;
}

.border-radius-5 {
    border-radius: 5px;
}

/* Buttons */
.btn-pink {
    color: #fff;
    background-color: #7C4889;
    border-color: #7C4889;
}

.btn-pink:hover {
    color: #7C4889;
    background-color: transparent;
    background-image: none;
    border-color: #7C4889;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #7C4889;
    border-color: #7C4889;
}

.btn-outline-pink {
    color: #7C4889;
    background-color: transparent;
    background-image: none;
    border-color: #7C4889;
}

#imgDiv img {
    max-width: 100%;
}


/* Navigation */
img.logo {
    max-width: 400px;
}

.nav {
    background-color: #000;
    color: #fff;
}

.nav.header a {
    color: #ffffff;
}

.nav.header .dropdown-menu {
    background-color: #000000;
}

.nav.header .dropdown-menu .dropdown-item:hover {
    background-color: #323232;
}

.nav .brand-name {
    line-height: 44px;
    font-family: 'Cabin', arial, sans-serif;
    font-size: 22px;
}

.justify-start {
    margin-right: auto;
}

/* Footers and headers */
.footer {
    background-color: #000000;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    text-decoration: underline;
}

.footer a i.fab,
.footer a i.far {
    color: #000000;
}

footer {
    width: 100%; 
}

/* Forms */

#end-signup{
    align-content: center;

}
input[type="month"]:before {
    content: attr(placeholder) !important;
    /*color: #495057; */
    margin-right: 0.5em;
  }
  input[type="month"]:focus:before,
  input[type="month"]:valid:before {
    content: "";
  }
/* Links */

a{
    text-decoration: none;
}

/* Pseudo-classes */
.hover:hover {
    cursor: pointer;
}

.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:-20px;
    top:10px;
}