<div class="container-fluid footer text-centers pt-5 pb-5">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="https://www.instagram.com/fashionXproject/" target = "_blank">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
        </span>
      </a>
    </li>
  </ul>

  <div class="row mx-0">
    <div class="col">
      <p><em>Copyright &copy; 2018 shopherlook.app - All Rights Reserved.</em></p>
    </div>
  </div>
</div>