<div class="container-fluid footer text-center">
  <div class="row pt-4 mb-4">
    <div class="col-3">
      About Us
      <a href = "manual" target="_blank">Help</a>
    </div>
    <div class="col-6">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="https://www.instagram.com/fashionXproject/" target = "_blank">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fab fa-instagram fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://www.facebook.com/fashionXproject/" target = "_blank">
              <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://www.pinterest.com/fashionxproject/" target = "_blank" >
              <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="fab fa-pinterest fa-stack-1x"></i>
                </span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="mailto:contact@fashionxproject.com">
              <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="far fa-envelope fa-stack-1x"></i>
                </span>
              </a>
          </li>
        </ul>
        #BODYPOSITIVE
    </div>
    <div class="col-3">
      <a href = "/influencers/signup">Sign Up</a>
      <a href = "/influencers/login">Log In</a>
      Newsletter
    </div>
  </div>

  <div class="row mx-0">
    <div class="col">
      <a href="http://www.fashionxproject.com/privacy-policy/" target = "_blank">Privacy Policy</a> /
      <a href="http://www.fashionxproject.com/terms-of-service/" target = "_blank">Terms of Service</a> /
      <a href="http://www.fashionxproject.com/cookie-policy/" target = "_blank">Cookie Policy</a>

      <p><em>Copyright &copy; *2018* FASIONXPROJECT, INC. All rights reserved.</em></p>
    </div>
  </div>
</div>