<ul class="nav header justify-content-end mb-3">
  <li class="nav-item justify-start ml-3">
    <span class="monospace-font">Total Clicks: <strong>206</strong></span>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="far fa-user"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/influencers/submit"><i class="far fa-plus-square"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-shopping-bag"></i></a>
  </li>
</ul>