<ul class="nav header justify-content-end mb-3">
  <li class="nav-item justify-start align-items-center ml-3">
    <span class="align-self-center brand-name"><strong>SHOPHERLOOK</strong></span>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/influencers/login">Login</a>
      <a class="dropdown-item" href="/influencers/profile">View Profile</a>
      <a class="dropdown-item" href="/influencers/signup">Sign Up</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/influencers/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/influencers/submit">Sell</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://shopherlook.app/about-us">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://shopherlook.app/contact">Contact</a>
  </li>
</ul>