<div class="text-center pb-3">
  <img src="/images/FP_Logo.png" class="img-fluid logo"><br/>
  <span>Shop by your body type. <span class="text-pink">Transform your shopping experience.</span></span>
</div>