<div class = "text-center pb-3" id = "navButtons">
        <button class="btn btn-pink btn-primary text-center" onclick="location.href = '/influencers/profile'">My Profile</button>
        <button class="btn btn-pink btn-primary text-center"onclick="location.href = '/influencers/submit'">Sell</button>
        <button class="btn btn-pink btn-primary text-center"onclick="location.href = '/influencers/home'">Manage My Listings</button>
</div>