<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <header>
        <% include ../../partials/header %>
    </header>
  <body>
    <main>
        <div class="container-fluid">
            <div id="manual-main">
                <h1>Admin Manual:</h1>
                <a href="/administrators/panel">
                    <button class="btn btn-pink btn-primary text-center float-right">Admin Panel</button>
                </a>
                <h3>Main Dashboard</h3>
                <hr class = "my-4">
                
                <p>
                    Whenever a user applies to become an influencer, the information they provided into the signup form is stored in the database.<br>
                    The admin panel will display all users who signed up via the ShopHerLook Sign Up page.<br><br>
                     As an admin, you can click on any row  
                    and a modal will popup providing all information that was provided by the applicant. 
                    <br>Next, you can either approve or deny an applicant 
                    with the button at the far right of the screen on that given row (each row is a different applicant). <br>
                    Once you approve/deny an influencer,
                    an email will be sent to them notifying them of your decision. If approved, their access rights will be changed so that they can log in and view their<br>
                    account home page in order to create posts and sell their items.
                </p>

           
           
            </div>
            
        </div>
    </main>
    
    <% include ../../partials/footer %>
    
  </body>
</html>