<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <span class="login-logo">SHOPHERLOOK</span>            
        <div class='container text-center mt-2 mb-2'>
            <input type='text' id="searchParam" name="searchParam" placeholder='Search'>
            <a href="/administrators/admin-manual"> Administrator Manual </a>
            <a href="/administrators/signout">
                <button>Sign Out</button>
            </a>            
        </div>
        <table id='administrative-panel' class="table table-hover">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Email</th>
                    <th scope='col'>Status</th>
                    <th scope='col'>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <footer>
            <% include ../../partials/footer %>
        </footer>
    </body>

    <script>
        var profileArray;
        var ind = 1;
        $.ajax({
            method: 'GET', 
            url: '/administrators/profiles',
            success: (profiles) => {
                profileArray = profiles;
                $.ajax({
                    method: 'GET',
                    url: '/administrators/rights',
                    success: (rights) => {
                        profiles.forEach((profile, index) => {
                            for (var i = 0; i < rights.length; i++) {
                                var possibleRights = ['0', '1']
                                if (profile.email === rights[i].email && possibleRights.includes(rights[i].rights)) {
                                    //make row id the users email until the '@'
                                    var isVerified = rights[i].rights == 0;
                                    var rowIndex = profile.email.substring(0,profile.email.indexOf("@"));
                                    var row = $(`
                                        <tr>
                                            <th scope='col'id="${rowIndex}" class="profileRow" data-toggle="modal" data-target="#modal-${rowIndex}" href="#">${ind}</th>
                                            <td id="${rowIndex}" class="profileRow" data-toggle="modal" data-target="#modal-${rowIndex}" href="#">${profile.first_name}</td>
                                            <td id="${rowIndex}" class="profileRow" data-toggle="modal" data-target="#modal-${rowIndex}" href="#">${profile.email}</td>
                                            <td id="${rowIndex}" class="profileRow" data-toggle="modal" data-target="#modal-${rowIndex}" href="#">${(isVerified) ? 'Unverified Influencer' : 'Verified Influencer'}</td>
                                            <td><button type='button' class='${(isVerified) ? 'btn btn-sm btn-block btn-success' : 'btn btn-sm btn-block btn-danger'}'>${(isVerified) ? 'Approve' : 'Disable'}</button></td>
                                        </tr>
                                    `);
                                    $(row).on('click', (evt) => {
                                        if ($(evt.target).is('button')) {
                                            if ($(evt.target).text() === 'Approve') {
                                                approve(evt);
                                            } else if ($(evt.target).text() === 'Disable') {
                                                reject(evt);
                                            }
                                        }
                                    });
                                    $('#administrative-panel tbody').append(row);
                                    ind++;
                                    break;
                                }
                            }
                            
                            var modal = $(
                            `<div class="modal fade" id="modal-${rowIndex}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">${profile.first_name}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                       Email: ${profile.email} <br/>
                                       Date of Birth:  ${profile.dob} <br/>
                                       Instrgram:  ${profile.instagram_handle} <br/>
                                       LikeToKnowIt:  ${profile.likeToKnowIt}<br/>
                                       Blog:  ${profile.blog}<br/>
                                       Paypal:  ${profile.paypal}<br/>
                                       Height:  ${profile.height_ft} feet ${profile.height_in} inches<br/>
                                       Bust Band:  ${profile.bust_band}<br/>
                                       Bust Cup:  ${profile.bust_cup}<br/>
                                       Waist:  ${profile.waist}<br/>
                                       Shirt Size:  ${profile.shirt_size}<br/>
                                       Jean Size:  ${profile.jean_size}<br/>
                                       Torso Length:  ${profile.torso_length}<br/>
                                       Leg Length:  ${profile.leg_length}<br/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                            </div>`);
                            $("body").append(modal)
                        }); 
                    }
                });
            }
        });
        //create modal with applicant info when admin clicks on profile 
        $('#administrative-panel').on("click", ".profileRow", function(){

            var clickedId = $(this).attr('id');
            var modalId = "modal-"+clickedId
            
            $("#"+modalId).modal('show')
        });

        function approve(evt) {
            var email = $($(evt.currentTarget).children()[2]).text();
            var button = $($($(evt.currentTarget).children()[4])).children()[0];
            $(button).removeClass('btn-success');
            $(button).addClass('btn-warning');
            $(button).text('Pending')

            $.ajax({
                method: 'POST',
                url: '/administrators/approve',
                data: {
                    email: email
                },
                success: (data) => {
                    if (data.isApproved === true) {
                        $(button).removeClass('btn-warning');
                        $(button).addClass('btn-danger');
                        $(button).text('Disable');
                    }
                },
                error: (err) => {
                    $(button).removeClass('btn-warning');
                    $(button).addClass('btn-danger');
                    $(button).text('Error');
                }
            });
        }

        function reject(evt) {
            var email = $($(evt.currentTarget).children()[2]).text();
            var button = $($($(evt.currentTarget).children()[4])).children()[0];
            $(button).removeClass('btn-danger');
            $(button).addClass('btn-warning');
            $(button).text('Pending');

            $.ajax({
                method: 'POST',
                url: '/administrators/reject',
                data: {
                    email: email
                },
                success: (data) => {
                    if (data.isApproved === false) {
                        $(button).removeClass('btn-warning');
                        $(button).addClass('btn-success');
                        $(button).text('Approve');
                    }
                },
                error: (err) => {
                    $(button).removeClass('btn-warning');
                    $(button).addClass('btn-danger');
                    $(button).text('Error');
                }
            })
        }

        $("input#searchParam").change(function(){
            $('#administrative-panel tbody').children('tr').remove();
            // $("#administrative-panel").find("tr:gt(0)").remove();
            var profileArray;
            var ind = 1;
            $.ajax({
                method: 'GET', 
                url: '/administrators/profiles',
                success: (profiles) => {
                    profileArray = profiles;
                    $.ajax({
                        method: 'GET',
                        url: '/administrators/rights',
                        success: (rights) => {
                            profiles.forEach((profile, index) => {
                                for (var i = 0; i < rights.length; i++) {
                                    var possibleRights = ['0', '1']
                                    if (profile.email === rights[i].email && possibleRights.includes(rights[i].rights)) {
                                        if (profile.email.toLowerCase().includes($("input#searchParam").val().toLowerCase()) ||
                                        profile.first_name.toLowerCase().includes($("input#searchParam").val().toLowerCase())) {
                                            //make row id the users email until the '@'
                                            var isVerified = rights[i].rights == 0;
                                            var rowIndex = profile.email.substring(0,profile.email.indexOf("@"));
                                            var row = $(`
                                                <tr class="profileRow" id="${rowIndex}" data-toggle="modal" data-target="#modal-${rowIndex}" href="#">
                                                    <th scope='col'>${ind}</th>
                                                    <td>${profile.first_name}</td>
                                                    <td>${profile.email}</td>
                                                    <td>${(isVerified) ? 'Unverified Influencer' : 'Verified Influencer'}</td>
                                                    <td><button type='button' class='${(isVerified) ? 'btn btn-sm btn-block btn-success' : 'btn btn-sm btn-block btn-danger'}'>${(isVerified) ? 'Approve' : 'Disable'}</button></td>
                                                </tr>
                                            `);
                                            $(row).on('click', (evt) => {
                                                if ($(evt.target).is('button')) {
                                                    if ($(evt.target).text() === 'Approve') {
                                                        approve(evt);
                                                    } else if ($(evt.target).text() === 'Disable') {
                                                        reject(evt);
                                                    }
                                                }
                                            });
                                            $('#administrative-panel tbody').append(row);
                                            ind++;
                                            break;   
                                        }
                                    }
                                }
                                
                                var modal = $(
                                `<div class="modal fade" id="modal-${rowIndex}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">${profile.first_name}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Email: ${profile.email} <br/>
                                        Date of Birth:  ${profile.dob} <br/>
                                        Instrgram:  ${profile.instagram_handle} <br/>
                                        LikeToKnowIt:  ${profile.likeToKnowIt}<br/>
                                        Blog:  ${profile.blog}<br/>
                                        Paypal:  ${profile.paypal}<br/>
                                        Height:  ${profile.height_ft} feet ${profile.height_in} inches<br/>
                                        Bust Band:  ${profile.bust_band}<br/>
                                        Bust Cup:  ${profile.bust_cup}<br/>
                                        Waist:  ${profile.waist}<br/>
                                        Shirt Size:  ${profile.shirt_size}<br/>
                                        Jean Size:  ${profile.jean_size}<br/>
                                        Torso Length:  ${profile.torso_length}<br/>
                                        Leg Length:  ${profile.leg_length}<br/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                                </div>`);
                                $("body").append(modal)
                            }); 
                        }
                    });
                }
            });
        });
    </script>
</html>