<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <div class='container text-center mt-2 mb-2'>
            <input type='text' placeholder='Search'>
            <form id='sign-out' action="/administrators/signout" method="GET" style='display: inline;'>
                <input type="submit" name="signout" value="Sign Out" />
            </form>
        </div>
        <table id='administrative-panel' class='table'>
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Email</th>
                    <th scope='col'>Instagram</th>
                    <th scope='col'>Status</th>
                </tr>
            </thead>
        </table>
        <div id = "modal"></div>
        <footer>
            <% include ../../partials/footer %>
        </footer>
    </body>

    <script>
        var profileArray;
        var ind = 1;
        $.ajax({
            method: 'GET', 
            url: '/administrators/profiles',
            success: (profiles) => {
                profileArray = profiles;
                $.ajax({
                    method: 'GET',
                    url: '/administrators/rights',
                    success: (rights) => {
                        profiles.forEach((profile, index) => {
                            for (var i = 0; i < rights.length; i++) {
                                var possibleRights = ['0', '1']
                                if (profile.email === rights[i].email && possibleRights.includes(rights[i].rights)) {
                                    //make row id the users email until the '@'
                                    var rowIndex = profile.email.substring(0,profile.email.indexOf("@"));
                                    var row = $(`
                                        <tr class = "profileRow" id = "${rowIndex}" data-toggle="modal" data-target = "#modal-${rowIndex}" href = "#">
                                            <th scope='col'>${ind}</th>
                                            <td>${profile.first_name}</td>
                                            <td>${profile.email}</td>
                                            <td>${profile.instagram_handle}</td>
                                            <td>${(rights[i].rights == 0) ? 'Unverified Influnecer' : 'Verified Influencer'}</td>
                                        </tr>
                                    `);
                                    $('#administrative-panel tr:last').after(row);
                                    ind++;
                                    break;
                                }
                            }
                            var modal = $(
                            `<div class="modal fade" id="modal-${rowIndex}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">${profile.first_name}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                       Email: ${profile.email} 
                                       Date of Birth:  ${profile.dob} 
                                       Instrgram:  ${profile.instagram_handle} 
                                       LikeToKnowIt:  ${profile.likeToKnowIt}
                                       Blog:  ${profile.blog}
                                       Paypal:  ${profile.paypal}
                                       Height:  ${profile.height_ft} feet ${profile.height_in} inches
                                       Bust Band:  ${profile.bust_band}
                                       Bust Cup:  ${profile.bust_cup}
                                       Waist:  ${profile.waist}
                                       Shirt Size:  ${profile.shirt_size}
                                       Jean Size:  ${profile.jean_size}
                                       Torso Length:  ${profile.torso_length}
                                       Leg Length:  ${profile.leg_length}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick = "hide()">Close</button>
                                </div>
                                </div>
                            </div>
                            </div>`);
                            $("body").append(modal)
                        }); 
                    }
                });
            }
        });
        //create modal with applicant info when admin clicks on profile 
        $('#administrative-panel').on("click", ".profileRow", function(){

            var clickedId = $(this).attr('id');
            var modalId = "modal-"+clickedId
            
            //document.getElementById(modalId).style.visibility = "visible";
            $("#"+modalId).modal('show')
            
            //TODO, unhide modal linked to clicked user
            
            // var clickedProfile;
           
            // profileArray.forEach((profile, index) => {
                    
            //                 if(profile['email']=== clickedId){
            //                     clickedProfile = profile;
            //                 }
            //             });
            
            
        })
        function hide(){
            $(this).modal('hide');
            $(this).hide();
        }
    </script>
</html>