<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div class='container-flud'>
          This is my first Bootstrap container.
        </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
