<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
      <span class="login-logo">SHOPHERLOOK</span>
      <div class="container px-0 py-4">
        <div class="row text-center monospace-font pb-3 mt-5">
            <button type="button" class="btn btn-pink btn-lg btn-block"onclick="location.href = '/influencers/signup'">Sign Up</button>
        </div>
        <div class="row text-center monospace-font">
            <button type="button" class="btn btn-outline-pink btn-lg btn-block" onclick="location.href = '/influencers/login'">Login</button>
        </div>
      </div>

      <br/>

    <% include ../partials/footer %>
  </body>
</html>
