<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <main>
        <div class="container-fluid px-0 pb-5">
          <div class="row mx-0 women-in-dress-bg">
          </div>
        </div>

        <div class="container-fluid">
          <div class="text-center pb-5">
            <h1 class="display-4">fashionXproject</h1>
            <span>Shop by your body type. <span class="text-pink">Transform your shopping experience.</span></span>
          </div>

          <div class="text-center pb-5 monospace-font">
            <button type="button" class="btn btn-pink btn-lg btn-block">Shopper</button>
            <button type="button" class="btn btn-outline-pink btn-lg btn-block">Influencer</button>
          </div>
        </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
