<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <main>
      <div class="container-fluid px-0 pb-5">
        <div class="row mx-0 women-in-dress-bg">
        </div>
      </div>

      <div class="container-fluid">
        <% include ../partials/logo %>

        <div class="text-center pb-5 monospace-font">
          <button type="button" class="btn btn-pink btn-lg btn-block">Shopper</button>
          <button type="button" class="btn btn-outline-pink btn-lg btn-block">Influencer</button>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
