<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <header>
        <% include ../../partials/header %>
    </header>
  <body>
    <main>
        <div id = "manual-main" class= "jumbotron">
            <h1 class = "display-4"> User Manual: Signup Page </h1>

            <hr class = "my-4">
            <p class = "lead">
            Each field of the sign up form is required except for "Blog" (which can be a link to a personal blog, if you have one). <br>
            If you already have an account with us, please go to the <a href = ""> login page</a> (coming soon) in order to login to your existing account. <br>
            </p>

            <h4> How To Create a New Profile</h4> <br>
            <ol>
                <li>Input your responses for all the required fields <br>
                <li>Ensure you've reviewed the Terms of Service (linked at the bottom of the form) and checked the checkbox<br>
                <li>Click "Sign Up"
            </ol>
            
            All done!

            
        
        </div>


    </main>
    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>
</html>