<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <header>
        <% include ../../partials/header %>
    </header>
  <body>
    <main>
        <div class="container-fluid">
            <div id="manual-main">
                <h1>User Manual:</h1>
                <h2>Signup Page</h2>
                <hr class = "my-4">
                <p>
                Each field of the sign up form is required except for "Blog" (which can be a link to a personal blog, if you have one). <br>
                If you already have an account with us, please go to the <a href = "/influencers/login"> login page</a> in order to login to your existing account. <br>
                </p>

                <h4> How To Create a New Profile</h4> <br>
                <ol>
                    <li>Input your responses for all the required fields <br>
                    <li>Ensure you've reviewed the Terms of Service (linked at the bottom of the form) and checked the checkbox<br>
                    <li>Click "Sign Up"
                </ol>

                <h2>Influencer Dashboard</h2>

                <hr class = "my-4">
                <p>
                After entering in your login credentials, you will be brought to the dashboard page where you can see all of your posts. <br>
                If you try to input login credentials but return to the login page with a message saying "Email does not exist", this means that 
                it is not stored in our database, meaning you should go to the <a href = "/influencers/signup">signup page</a> to create an account.
                </p>
            </div>
            
        </div>
    </main>
    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>
</html>