<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <header>
            <% include ../../partials/header %>
        </header>

        <div class='container col-5 mb-5'>
            <form class='bg-grey'>
                <div class='form-group pt-3 pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='text' placeholder='First Name *' required>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='email' placeholder='Email *' required>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='number' placeholder='Age *' min='1' required>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='text' placeholder='Instagram Handle *' required> 
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='text' placeholder='Blog'> 
                </div>
                <div class='form-group form-inline pl-3 pr-3'>
                    <input class='form-control col-6 input-border-pink' type='number' placeholder='Height (ft) *' min='1' required> 
                    <input class='form-control col-6 input-border-pink' type='nuber' placeholder='(in) *' min='0' max='11' required> 
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='number' placeholder='Weight (lbs) *' min='1' required>
                </div>
                <div class='form-group form-inline pl-3 pr-3'>
                    <select class='form-control col-sm-6 input-border-pink' required>
                        <option selected disabled> Bust (cup) *</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                        <option>F</option>
                        <option>G</option>
                        <option>H</option>
                    </select>
                    <select class='form-control col-6 input-border-pink' required>
                        <option selected disabled> (band) *</option>
                        <option>Band A</option>
                        <option>Band B</option>
                        <option>Band C</option> 
                    </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='number' placeholder='Waist (in) *' min='1' required> 
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='number' placeholder='Hips (in) *' min='1' required> 
                </div>
                <div class='form-group pl-3 pr-3'>
                    <select class='form-control input-border-pink' rqeuired>
                        <option selected disabled>Usual Jean Size *</option>
                        <option>Extra Small (S)</option>
                        <option>Small (S)</option>
                        <option>Medium (M)</option>
                        <option>Large (L)</option>
                        <option>Extra Large (XL)</option>
                    </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <select class='form-control input-border-pink' required>
                        <option selected disabled>Usual T-Shirt Size *</option>
                        <option>Extra Small (S)</option>
                        <option>Small (S)</option>
                        <option>Medium (M)</option>
                        <option>Large (L)</option>
                        <option>Extra Large (XL)</option>
                    </select>
                </div>
                <div class='form-group pl-3 pr-3'>
                    <input class='form-control input-border-pink' type='number' placeholder='Leg Length *' min='1' required>
                </div>
                <div class='form-group bg-white'>
                    <div class='form-check'>
                        <input class='form-check-input' type='checkbox' value='' id='validCheck' required>
                        <label class='form-check-label text-muted' for='validCheck'>
                            By using our services, you acknowledge that you have read, understood and agreed
                            to be bound by our <a href='http://www.fashionxproject.com/terms-of-service/' target='_blank'>
                            <u>Terms of Service</u></a>. By signing up, you agree to subscribe to our mailing list. 
                        </label>
                    </div>
                </div>
                <div class='container text-center mb-4 bg-white ps-absolute'>
                    <button class='btn btn-pink btn-primary text-center' type='submit'>Sign Up</button>
                </div>
            </form>
        </div>

        <br/>

        <footer>
            <% include ../../partials/footer %>
        </footer>
    </body>
</html>