<!Doctype html>
<html>
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <% include ../../partials/logo %>


            <div class="container text-center monospace-font pb-3 mt-5">
                    <button type="button" class="btn btn-pink btn-lg btn-primary text-center">Upload Pic</button>
                </div>


        <% include ../../partials/footer %>
    </body>
</html>
