<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/javascripts/jquery.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <script src='/javascripts/bootstrap.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='container-flud'>
      This is my first Bootstrap container.
    </div>
  </body>
</html>
